.gym-infos-container {
    background: #0dcaf0;
    padding: 50px;
    color: #fff;
}

.info h2 {
    font-size: 50px;
    text-align: center;
}

.info p {
    font-size: 20px;
    text-align: center;
}

@media only screen and (max-width: 575px) {
    .info-container {
        flex-direction: column;
    }
}