.banner {
    min-height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, .5), rgba(4, 9, 30, .7)), url(../../../images/banner-image-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(50%);
    margin-bottom: 0;
    margin-left: 20%;
}

.banner-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}

.banner-details {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
}

.signup-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 170px;
    font-size: 16px;
    border: 2px solid rgba(13, 202, 240, 0.6);
    background: none;
    color: #fff;
    border-radius: 30px;
    padding: 15px 40px;
}

.signup-btn:hover {
    background-color: rgba(13, 202, 240, 0.6);
}

.about-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: 2px solid rgba(13, 202, 240, 0.6);
    background: none;
    color: #fff;
    border-radius: 30px;
    padding: 15px 40px;

}

.about-btn:hover {
    background-color: rgba(13, 202, 240, 0.6);
}


/*---------------------------------------
    mobile device 575px and tablet 992px
------------------------------------------*/
@media only screen and (max-width: 992px) {

    .banner-text {
        transform: translateY(50%);
    }

    .banner-title {
        font-size: 40px;
    }
}

@media only screen and (max-width: 575px) {

    .banner {
        min-height: 500px;
        width: 100%;
    }

    .banner-title {
        font-size: 20px;
    }

    .banner-details {

        font-size: 10px;
        margin-top: 15px;
    }

    .banner-btn {
        flex-direction: column;
    }

    .signup-btn {
        margin-bottom: 10px;
    }
}